# General
flask
flask-socketio
numpy<2.0.0
torch==2.3.0
transformers==4.45.0.dev0
httpx[socks]
pysocks
tqdm
gradio==3.41.2

# LLM
llama-cpp-python
autoawq
optimum
auto-gptq
mdtex2html
accelerate

# ChatTTS
numba
torchaudio
vector_quantize_pytorch
vocos
pybase16384
av
pydub
# pynini==2.1.5; sys_platform == 'linux'
# WeTextProcessing; sys_platform == 'linux'
# nemo_text_processing; sys_platform == 'linux'
